<%= stylesheet_link_tag "css/bg_image_style.css" %>
<div id="wrap">
  <div class="center_content">
    <div class="left_content">
      <div class="title">背景图预览
        <%  if flash[:image_notice] %>
          <%=blank(5)%>
          <%= flash[:image_notice]%>
        <% end %>
      </div>
      <div class="new_products">

        <div class="new_prod_box"> <a href="update_bg_image?name=bg1">图1</a>
          <div class="new_prod_bg">  <a href="update_bg_image?name=bg1"><img width="200" height="220" src="../images/wallpapers/bg1.jpg" alt="" title="" class="thumb" border="0" /></a> </div>
        </div>

        <div class="new_prod_box"> <a href="update_bg_image?name=bg2">图2</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg2"><img width="200" height="220" src="../images/wallpapers/bg2.jpg" alt="" title="" class="thumb" border="0" /></a> </div>
        </div>

        <div class="new_prod_box"> <a href="update_bg_image?name=bg3">图3</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg3"><img width="200" height="220" src="../images/wallpapers/bg3.jpg" alt="" title="" class="thumb" border="0" /></a> </div>
        </div>

        <div class="new_prod_box"> <a href="update_bg_image?name=bg4">图4</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg4"><img width="200" height="220" src="../images/wallpapers/bg4.jpg" alt="" title="" class="thumb" border="0" /></a> </div>
        </div>

        <div class="new_prod_box"> <a href="update_bg_image?name=bg5">图5</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg5"><img width="200" height="220" src="../images/wallpapers/bg5.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>
        <div class="new_prod_box"> <a href="update_bg_image?name=bg6">图6</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg6"><img width="200" height="220" src="../images/wallpapers/bg6.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>
        <div class="new_prod_box"> <a href="update_bg_image?name=bg7">图7</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg7"><img width="200" height="220" src="../images/wallpapers/bg7.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>
        <div class="new_prod_box"> <a href="update_bg_image?name=bg8">图8</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg8"><img width="200" height="220" src="../images/wallpapers/bg8.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>
        <div class="new_prod_box"> <a href="update_bg_image?name=bg9">图9</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg9"><img width="200" height="220" src="../images/wallpapers/bg9.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>
        <div class="new_prod_box"> <a href="update_bg_image?name=bg10">图10</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg10"><img width="200" height="220" src="../images/wallpapers/bg10.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>
        <div class="new_prod_box"> <a href="update_bg_image?name=bg11">图11</a>
          <div class="new_prod_bg"> <a href="update_bg_image?name=bg11"><img width="200" height="220" src="../images/wallpapers/bg11.jpg" alt="" title=""  class="thumb" border="0" /></a> </div>
        </div>

      </div>
      <div class="clear"></div>
    </div>
    <!--end of left content-->
    <div class="clear"></div>
  </div>
  <!--end of center content-->

