<%= stylesheet_link_tag "css/bg_image_style.css" %>
<div id="wrap">
  <div class="center_content">
    <div class="left_content">
      <div class="title">主题图预览
        <%  if flash[:image_notice] %>
          <%=blank(5)%>
          <%= flash[:image_notice]%>
        <% end %>
      </div>
      <div class="new_products">

        <div class="new_prod_box"> <a href="update_theme?theme=t0">主题1</a>
          <div class="new_prod_bg">
          <a href="update_theme?theme=t0">
          <img width="80" height="80" src="../images/theme/t0/register.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t0/report.png" alt="" title="" class="thumb" border="0" />
          </a>
          <a href="update_theme?theme=t0">
          <img width="80" height="80" src="../images/theme/t0/group.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t0/setting.png" alt="" title="" class="thumb" border="0" />
          </a>
          </div>
        </div>
        <div class="new_prod_box"> <a href="update_theme?theme=t1">主题2</a>
          <div class="new_prod_bg">
          <a href="update_theme?theme=t1">
          <img width="80" height="80" src="../images/theme/t1/register.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t1/report.png" alt="" title="" class="thumb" border="0" />
          </a>
          <a href="update_theme?theme=t1">
          <img width="80" height="80" src="../images/theme/t1/group.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t1/setting.png" alt="" title="" class="thumb" border="0" />
          </a>
          </div>
        </div>
        <div class="new_prod_box"> <a href="update_theme?theme=t2">主题3</a>
          <div class="new_prod_bg">
          <a href="update_theme?theme=t2">
          <img width="80" height="80" src="../images/theme/t2/register.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t2/report.png" alt="" title="" class="thumb" border="0" />
          </a>
          <a href="update_theme?theme=t2">
          <img width="80" height="80" src="../images/theme/t2/group.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t2/setting.png" alt="" title="" class="thumb" border="0" />
          </a>
          </div>
        </div>
        <div class="new_prod_box"> <a href="update_theme?theme=t3">主题4</a>
          <div class="new_prod_bg">
          <a href="update_theme?theme=t3">
          <img width="80" height="80" src="../images/theme/t3/register.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t3/report.png" alt="" title="" class="thumb" border="0" />
          </a>
          <a href="update_theme?theme=t3">
          <img width="80" height="80" src="../images/theme/t3/group.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t3/setting.png" alt="" title="" class="thumb" border="0" />
          </a>
          </div>
        </div>
        <div class="new_prod_box"> <a href="update_theme?theme=t4">主题5</a>
          <div class="new_prod_bg">
          <a href="update_theme?theme=t4">
          <img width="80" height="80" src="../images/theme/t4/register.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t4/report.png" alt="" title="" class="thumb" border="0" />
          </a>
          <a href="update_theme?theme=t4">
          <img width="80" height="80" src="../images/theme/t4/group.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t4/setting.png" alt="" title="" class="thumb" border="0" />
          </a>
          </div>
        </div>
        <div class="new_prod_box"> <a href="update_theme?theme=t5">主题6</a>
          <div class="new_prod_bg">
          <a href="update_theme?theme=t5">
          <img width="80" height="80" src="../images/theme/t5/register.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t5/report.png" alt="" title="" class="thumb" border="0" />
          </a>
          <a href="update_theme?theme=t5">
          <img width="80" height="80" src="../images/theme/t5/group.png" alt="" title="" class="thumb" border="0" />
          <img width="80" height="80" src="../images/theme/t5/setting.png" alt="" title="" class="thumb" border="0" />
          </a>
          </div>
        </div>


      </div>
      <div class="clear"></div>
    </div>
    <!--end of left content-->
    <div class="clear"></div>
  </div>
  <!--end of center content-->


