<div id="wrapper">
  <div id="body">
    <div id="content">
      <h2 class="title">年龄比例统计</h2>
      <!-- begin age -->
      <div class="post f">
        <div class="thumb"></div>
        <div class="thumb"><%= @age_graph %></div>
        <h2>年龄比例统计</a></h2>
        <p></p>
      </div>
      <!-- end age -->
    </div>
    <!-- END content -->
  </div>
  <!-- END body -->
<!-- END wrapper -->

