<div id="wrapper">
  <div id="body">
    <div id="content">
      <h2 class="title">年龄比例统计</h2>
      <!-- begin age -->
      <div class="post f">
        <div class="thumb"></div>
        <div class="thumb"><%= @age_graph %></div>
        <h2>年龄比例统计</a></h2>
        <p>1-19岁: <%= @first_age_people_count%> 人</p>
        <p>20-39岁: <%=@second_age_people_count%> 人</p>
        <p>40-50岁:<%=@third_age_people_count%> 人</p>
        <p><a href="age_statis">刷新</a></p>
      </div>
      <!-- end age -->
    </div>
    <!-- END content -->
  </div>
  <!-- END body -->
<!-- END wrapper -->

