<div id="wrapper">
  <div id="body">
    <div id="content">
      <h2 class="title">最畅销物料统计</h2>
      <!-- begin card_type -->
      <div class="post f">
        <div class="thumb"><%= @card_type_graph %></div>
      </div>
      <!-- end card_type -->
    </div>
    <!-- END content -->
  </div>
  <!-- END body -->
<!-- END wrapper -->


