<div id="wrapper">
  <div id="body">
    <div id="content">
      <h2 class="title">报表统计</h2>

      <!-- begin 会员性别统计 -->
      <div class="post f">
        <div class="thumb"><%= @sex_graph %></div>
        <h2>会员总数统计</h2>
        <p>男生：</p>
        <p>女生：</p>
      </div>
      <!-- end 会员性别统计 -->

      <!-- begin age -->
      <div class="post f">
        <div class="thumb"></div>
        <div class="thumb"><%= @age_graph %></div>
        <h2>年龄比例统计</a></h2>
        <p></p>
      </div>
      <!-- end age -->

      <!-- begin card_type -->
      <div class="post f">
        <div class="thumb"><%= @card_type_graph %></div>
        <h2>证件类型统计</h2>
        <p>学生证：</p>
        <p>工作证：</p>
        <p>社会证：</p>
      </div>
      <!-- end card_type -->
    </div>
    <!-- END content -->
  </div>
  <!-- END body -->
<!-- END wrapper -->
