<!DOCTYPE html>
<html>
<head>
  <title>图书馆用户管理系统</title>
  <link rel="shortcut icon" href="../../images/head.png"></link>
  <%= formtastic_stylesheet_link_tag %>
  <%=kindeditor_javacript_include_tag%>
  <%= stylesheet_link_tag "css/notice.css" %>

</head>
<body>

<%= yield %>

</body>
</html>

