<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
  <title>图书馆用户管理系统</title>
  <link rel="shortcut icon" href="../../images/head.png"></link>
  <%= formtastic_stylesheet_link_tag %>
  <%= kindeditor_javacript_include_tag%>


  <%= stylesheet_link_tag "css/normal.css" %>

  <!--report layout 暂时保留 -->
  <%#= stylesheet_link_tag "css/style.css" %>

  <!--报表显示 -->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
