<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>图书馆用户管理系统</title>
  <link rel="shortcut icon" href="../../images/head.png"></link>
  <%= formtastic_stylesheet_link_tag %>
  <%= kindeditor_javacript_include_tag%>

</head>
<body>

<%= yield %>

</body>
</html>
