<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
  <title>光头老连锁店管理系统</title>
  <link rel="shortcut icon" href="../../images/head.png"></link>
  <%= stylesheet_link_tag "css/report_style.css" %>
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>


</head>
<body>

<%= yield %>

</body>
</html>
